.main_container{
    height: 80vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(80, 41, 172);
    border-radius: 20px;
}

.textfield{
    margin-top: 10vh;
}

.time{
    margin-left: -26vw;
    font-size:25px;
    margin-top:4vh;
}

.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}

.location{
font-size: 40px;
margin-top: 4vh;
font-weight: 700;
}

.temp{
 font-size: 90px;
 font-weight: 900;
 margin-top: 3vh;
}

.data{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.humidity{
 margin-right: 100px;
 font-size: 25px;
}

.windspeed{
    margin-left: 100px;
    font-size: 25px;
}
