*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  color: rgb(224, 220, 220);
}

.body{
  margin: 0;
  padding: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}